body 
{
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    font-size: 62.5%;
    line-height: 1.2;
    color: #000;

}

.global-header {
    background: #333;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(18%, #515151), color-stop(85%, #373737), color-stop(100%, #333333));
    background-image: -webkit-linear-gradient(top, #555555 0%,#515151 18%,#373737 85%,#333333 100%);
    background-image: -moz-linear-gradient(top, #555555 0%,#515151 18%,#373737 85%,#333333 100%);
    background-image: -o-linear-gradient(top, #555555 0%,#515151 18%,#373737 85%,#333333 100%);
    background-image: linear-gradient(top, #555555 0%,#515151 18%,#373737 85%,#333333 100%);
    font-size: 13px;
    line-height: 17px;
    color: #333;
    font-weight: normal;
    z-index: 10001;
    height: 42px;
    position: fixed;
    left:0;
    top: 0;
    width: 100%;
}

div,h1, h2, a, ul,span, li 
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
}
/*
ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}*/

div {
    display: block;
}


.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 974px;
    position: relative;
}

.logo-container{
    margin-left: 0px;
    margin-right: 5px;
    background: url('/images/logo_linkedin.png') left center no-repeat;
    width:100px;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    margin-top: 0px;
    display: block;
    height: 36px;
    position: relative;
    left: -1px;
    float: left;
}


.nav {
    float:right;
}

ol, ul, li {
    list-style: none;
}
.nav-item {
    float: left;
    line-height: 13px;
    position: relative;
}

.global-header .nav .nav-link 
{
    padding-left: 10px;
    padding-right: 10px;
    color: #D7D7D7;
    margin-top:10px;
    padding-bottom: 0px;
    font-size:15px;
    font-family:Arial Narrow;
    color:Silver;
    text-decoration: none;
    cursor: pointer;
    display: block;
}

.nav-footer {
    font-size: 13px;
    line-height: 17px;
    color: #333;
    font-weight: normal;
}

.nav-footer:after {
    content: "";
    display: table;
    clear: both;
}


#footer {
    font-size: 12px;
    line-height: 14px;
    color: #666;
    font-weight: normal;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 974px;
    border-top: 1px solid #ccc;
    bottom:0%;
    position:relative;
    bottom: auto;
}


ul {
    margin: 0 0 10px 25px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

#footer .nav-footer li{
    border-right: 1px solid #ccc;
    margin-right: 8px;
    padding-right: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
}

#copyright {
    border-right: 1px solid #ccc;
    margin-right: 8px;
    padding-right: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
}
#footer #copyright.guest span {
    float: left;
    height: 16px;
    width: 62px;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    margin-left: 0px;
    margin-right: 3px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -2px;
    margin-bottom: -2px;
    background: url('/images/aaa.png') no-repeat scroll top left transparent;
}
#footer .nav-footer>li.last, #footer #nav-legal>li.last {
    border-right: none;
}

#footer {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    top:30px;

}

/*----------------------------Rida start  ---------------------------------*/
/*-------------------------------Rida Ends--------------------------*/
/*-------------------------------Sana Start--------------------------*/
#page-title {
    margin: 0 10px 15px 10px;
}

#page-title h1, #page-title h1 a {
    font-size: 22px;
    font-weight: bold;
    line-height: 24px;
    color: #000;
}

/*------------------sana ends----------------------------------*/


/*---------------zuhair starts------------------------------*/


#body2 {
    margin-top: 80px;
    margin-bottom: 10px;
}
#body2, #footer {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}
#body2 .wrapper {
    padding: 0 10px;
}
#body2, .primary, .wrapper {
    clear: both;
}

#body2 {
    background: #fff;
    margin-left: auto;
    margin-right: auto;

}
ul.directory {
    overflow: hidden;
    zoom: 1;
    margin: 0 0 20px 0;
    list-style-type: disc;

}

ul.directory li {
    width: 43%;
    float: left;
    font-size: 14px;
    margin: 0 0 10px 1.2em;
    list-style-type: disc;
}

a:visited, #footer a:visited {
    color: #069;
}
a {
    text-decoration: none;
    color: #069;
}

a:hover {
    text-decoration: underline;
    color: #069;
}

/*---------------zuhair ends----------------------*/
